extends layout

block content
    h1(class="good-margin") You are so creative!!! Your image is below. Copy and share it with your friends!!
    div(class="grey-background")
      img(src=inputFinalImage class="cool-border")
        
        
