extends layout

block content
  div(class='container-fluid')
    p(id='goofle')
      span(id='g') G
      span(id='o1') o
      span(id='o2') o
      span(id='g') f
      span(id='l') l
      span(id='e') e
    p(id='big-red') Prank your friend
    div(class='row')
    
      // Form Info
      div(class='col-md-6')
        p(class='text-center') Create a #[span(class='red-text') fake] image featuring your friend as Google's #1 hit
        div(id='form-box')
          form(id='formInfo' method='POST' action='/creativeresult' enctype="multipart/form-data")
            div(class="row small-bottom-margin")
              label(for="inputName" class="col-sm-4 bold") Friend's name:
              div(class="col-sm-6")
                input(type="text" class="form-control" id="inputName" name="inputName" placeholder="Ex: Jack Daniels" autofocus required)
            p(class="small-bottom-margin bold") Select a category:
            div(class='row')
             div(class="col-md-4")
             div(class="col-md-8")
               input(type="radio" name="categorySelected" id="friendliest-smile" value="friendliest-smile")
               label(for="friendliest-smile") Friendliest Smile
               br
               input(type="radio" name="categorySelected" id="smelliest-farter" value="smelliest-farter")
               label(for="smelliest-farter") Smelliest Farter
               br
               //
                input(type="radio" name="categorySelected" id="best-shopper" value="best-shopper")
                label(for="best-shopper") Best Shopper
                br
               input(type="radio" name="categorySelected" id="cutest-baby" value="cutest-baby")
               label(for="cutest-baby") Cutest Baby
               br
               input(type="radio" name="categorySelected" id="random" value="random" checked)
               label(for="random" class="bold") Random
            div(class='row margin-top')
              label(for="inputImage" class="col-sm-4 bold") Upload image (REQUIRED):
              div(class="col-sm-6")
                input(type='file' name='inputImage' id='inputImage' accept='.png, .jpg, .jpeg' onchange='previewImage(this);')  
                br
              
            div(class="text-center" id ="preview")

              hr
            div(class="text-center")
                button(type="submit" class="btn btn-primary btn-lg submit-button-border") Submit &amp; Create Image
  
      // Example Image
      div(class="col-md-1")
      
      // Example Image
      div(class="col-md-5")
        p(id="big-size") Example
        a(data-toggle="modal" data-target=".bd-example-modal-lg") 
          img(class="hover-opaque" id="example-image" src="/images/lego-batman-smile.png" atr="Example Image of Fake Google Results")
        
    br
    p(class="text-center") Want to make Goofle better? Email us with suggestions, praises, and feedback at #[a(href="siegel.moshes@gmail.com") siegel.moshes@gmail.com]
    p(class="text-center") Like Goofle? Help sponsor us by #[a(href='https://www.paypal.me/moshesiegel/39') donating to Goofle]
    p(class="text-center") Developed by Moshe Siegel &amp; friends 

    
    div(id="creating-result")
    
    // Modal Contents
    div(class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true")
      div(class="modal-dialog modal-lg")
        div(class="modal-content")
          div(class="modal-header")
            h5(class="modal-title") Example
            button(type="button" class="close" data-dismiss="modal" aria-label="Close")
              span(aria-hidden="true") &times;
          div(class="modal-body")
            img(class="good-width" src='/images/lego-batman-smile.png' atr="Example Image of Fake Google Results")
