doctype html
html(lang='en')
  head
    title= title
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css')
    script(src='https://code.jquery.com/jquery-3.2.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js')
    script(src='//servedby.eleavers.com/ads/ads.php?t=MTY0MzQ7Nzg3Mztob3Jpem9udGFsLmJhbm5lcg==&index=1')

    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/main.js')
    //to publish Propeller ads
    <meta name="propeller" content="8b75bee58c4200b751b6f2878d6080f3">
  body
    //  to DELETE!! script(src='//servedby.eleavers.com/ads/ads.php?t=MTY0MzQ7Nzg3Mztob3Jpem9udGFsLmJhbm5lcg==&index=1')
    block content
