/* For Headline at Top of Page */
#goofle {
  text-align: center;
  font-family: "comic sans MS", cursive, sans-serif;
  font-size: 5rem;
  margin: 1rem 0 0 0;
  line-height:1;
}

#g {
  color: #4885ed;
}

#o1 {
  color: #db3236;
}

#o2 {
  color: #f4c20d;
}

#f {
  color: #4885ed;
}

#l {
  color: #3cba54;
}

#e {
  color: #db3236;
}

#big-red {
 font-size: 2rem;
 color: red;
 text-align: center;
 margin-bottom: 2rem;
}

/* For Form on Left */
.red-text {
 color: red;
}

#form-box {
 background-color: #ffff66;
 border: 1px solid navy;
 border-radius: 25px;
}

#formInfo {
 padding: 1rem;
}

.thumb-image {
 width: 150px;
}

.small-bottom-margin {
 margin-bottom: 0.5rem;
}

.submit-button-border {
  border: 1px solid navy;
  margin: 1rem 0;
}

.margin-top {
 margin-top: 1.5rem;
}

.bold {
 font-weight: bold;
}


/* For Example Image on Right */
#big-size {
 font-size: 1.5rem;
 margin: .2rem;
}

.hover-opaque:hover {
 filter:drop-shadow(8px 8px 10px black);
}

#example-image {
 border: 1px solid navy;
 width: 100%;
}

.good-width {
 width: 100%;
}

/* Classes inserted via JavaScript */

.center-image {
 display: block;
 margin: auto;
}

.absolute-center {
  width: 450px;
  height: 130px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -225px;
  margin-top: -65px;
  color: blue;
  background-color: #00FFFF;
  border: 3px solid darkblue;
  border-radius: 30px;
}

.loader {
    position: relative;
    left: 50%;
    margin-left: -60px;
    margin-top: 1.5rem;
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}


/* Media Queries */

@media only screen and (min-width: 768px) {
    #form-box {
      width: 70%;
      margin: auto;
    }
 #example-image {
  width: 80%;
 }
}

/* for Creative Result Page */
.good-margin {
  padding: 10px;
}

.grey-background {
  background-color: gray;
  padding: 5px;
}

.cool-border {
  border: 3px solid blue;
  margin: auto;
  display: block;
  max-width: 100%;
}
